# Git
.git
.gitignore

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/

# Visual Studio
.vs/
ProjectSite/
*.suo
*.vssscc
*.vspesscc

# Rider
.idea/

# Test Results
TestOutput/
allure-results/
*.trx
*.html
*.coverage

# Misc
**/node_modules